* {
    box-sizing: border-box;
}

body {
    background-color: #F0F0F6;
}

#sidebar {
    float: left;
    /*
    min-width: 150px;
    max-width: 330px;
    */
    width: 23%;
    background-color: white;
    padding-left: 2%;
    padding-right: 3%;
}

#sidebar_profile{
    max-width: 100%;
    width: 55%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
    margin-bottom: 10%;
    border-radius: 50%; /* make img circle*/
}

.social_pic{
    max-width: 100%;
    background: url(./assets/social/social_background.png) center no-repeat;
    padding: 8.5px;
    margin: 0px;
}

#sidebar_p1{
    text-align: center;
}

.highlight{
    background-color: yellow;
}

.filled_ans{
    float: right;
}

#download_CV{
    background-color: yellow;
    margin: 5% 15% 5% 15%;
    text-align: center;
}

hr {
    height: 1.5px;
    color: #F0F0F6;
    margin-left: 10%;
    margin-right: 10%;
}

#main {
    display: block;
    float: right;
    width: 75%; 
    margin-left: 1%;
    border: blue solid 2px;
    padding: 4px;
}

#intro {
    display: inline-flex;
    border: solid 2px red;
    background-color: white;
    padding: 2%;
    height:auto;
}

#intro_pic{
    float: right;
    width: 40%;
    max-width: 100%;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

#intro_text {
    float: left;
    width: fit-content;
    border: solid 1px;
}       

#services {
    border: 1px solid black;
    padding: 4px;
}

#service_items{
    width: 100%;
}

.item {
    display: inline-flex;

    width: 32.5%;
    background-color: white;
    margin: 1px;
}


#education_items {
    background-color: white;
}