* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #F0F0F6;
}

/* ---------- SIDE_BAR ---------- */

#sidebar {
    float: left;
    /*
    min-width: 150px;
    max-width: 330px;
    */
    width: 23.4%;
    background-color: white;
    padding-left: 2%;
    padding-right: 3%;
}

#sidebar_profile_img{
    max-width: 100%;
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
    margin-bottom: 10%;
    border-radius: 50%; /* make img circle*/
}

#status_img {
    /* TODO */
}

.social_pic{
    display: inline-flex;
    width: 10%;
    margin: 3%;
    border-radius: 50%;
}

#avail {
    color: #7EB942;
}

#full_name {
    font-size: 1.65vw !important;
    color: black !important;
    font-weight: bolder;
}

#sidebar p{
    font-size: 1.4vw;
    color: #767676;
    margin: 7.5% 0% 7.5% 5%;
}

#sidebar a{
    color: #767676;
}

#sidebar h3 {
    font-size: 1.7vw;
    margin: 0% 0% 7.5% 5%;
}

.bullet {
    width: 6%;
    margin: 2px 4%;
}

.list_line {
    display: flex;
    margin: 7.5% 0px 7.5% 2% ;
    color: #767676;
}

#sidebar li{
    list-style-type: none;
    font-size: 1.2vw;
}

#sidebar_p1{
    text-align: center;
}

.highlight{
    color: black;
    background-color: #FFB400;
    border-radius: 5%;
    padding: 1%;
}

.filled_ans{
    float: right;
    margin-right: 5%;
}

#download_CV{
    background-color: #FFB400;
    text-align: center;
    font-size: 1.3vw;
    margin: 0px 5% 7% 5%;
    padding: 5% 0px;
}

#download_CV img {
    width: 5%;
}

#sidebar hr {
    height: 1.5px;
    color: #F0F0F6;
    margin: 7% 5% ;
    
}


/* ~~~~~~~~~~  ---------- MAIN ----------  ~~~~~~~~~~ */

/* ---------- INTRO ---------- */

#main {
    display: block;
    float: right;
    width: 75%; 
    margin-left: 1%;
    border: blue solid 2px;
    padding: 4px;
}

#intro {
    display: inline-flex;
    border: solid 2px red;
    background-color: white;
    padding: 2%;
    height:auto;
}

#intro_pic{
    float: right;
    width: 40%;
    max-width: 100%;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

#intro_text {
    float: left;
    width: fit-content;
    border: solid 1px;
}       

#services {
    border: 1px solid black;
    padding: 4px;
}

#service_items{
    width: 100%;
}

.item {
    display: inline-flex;
    width: 32.5%;
    background-color: white;
    margin: 1px;
}


#education {
    border: green 1px solid;
}

#education_items_container {
    height: auto;
    background-color: white;
    border: brown solid 2px;
    width: 100%;
}

.education_item {
    display: inline-block;
}

.left_side_note {
    float: left;
    width: 35%;
}

.right_side_note{
    float: right;
    width: 60%;
}